[submodule "fdaPDE-cpp"]
	path = fdaPDE-cpp
	url = git@github.com:fdaPDE/fdaPDE-cpp.git
	branch = develop

[submodule "fdaPDE-core"]
	path = fdaPDE-core
	url = git@github.com:Sh3xe/fdaPDE-core.git
	branch = develop
